@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Work+Sans:ital,wght@0,300,500;1,100&display=swap');

$firacode: 'Fira Code', 'Courier New', Courier, monospace;
$worksans: 'Work Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$green: #6ee7b7;
$red: #fda4af;
$grey: #94a3b8;
$lightgrey: #f8fafc;
$black: #374151
